rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null
        && (
          request.auth.uid in ['hhGHaSfiKYReJ9njvhGH0x3yB8E2', 'toUXxzS4OqYqD4n0F65YTtQeZ1s2']
          || (request.auth.token.email_verified == true
            && request.auth.token.email in ['aljjang95@gmail.com'])
        );
    }

    match /studio/{docId} {
      allow read, write: if isAdmin();
    }

    match /studios/{studioId}/{document=**} {
      allow read, write: if isAdmin();
    }
  }
}
